@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Kumbh Sans', sans-serif;
}

:root {

	/** =============== Colors ================ */
	/* Background */
	--main-bg-color: linear-gradient(
		rgb(175, 103, 233),
		rgb(101, 101, 231)
	);
	--faq-card-bg-color: white;

	/* Font */
	--title-font-color: rgb(29, 30, 53);
	--text-item-font-color: rgb(29, 30, 53);
	--text-question-font-color: rgb(74, 75, 94);

	/* Border */
	--text-item-border-color: rgb(231, 231, 233);
	--question-hover-color: rgb(244, 124, 87);
	--answer-font-color: rgb(120, 120, 135);

	/* Shadow */
	--faq-card-shadow-color: rgba(0, 0, 0, .7);
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 700px;
	padding: 60px;
	background: var(--main-bg-color);
}

.faq {
	display: flex;
	width: 950px;
	min-height: 540px;
	border-radius: 20px;
	background: var(--faq-card-bg-color);
	position: relative;
	box-shadow: 0 40px 90px -20px var(--faq-card-shadow-color);
}

/** ========================== Image ============================== */
.faq__img {
	flex: 0 1 50%;
	min-width: 475px;
	position: relative;
	overflow: hidden;
}

.faq__img-bkg {
	position: absolute;
	height: 190%;
	width: 190%;
	background: url('./images/bg-pattern-desktop.svg') no-repeat;
	background-size: 100% 100%;
	left: -108%;
	bottom: -33%;
}

.faq__img-woman {
	position: absolute;
	background: url('./images/illustration-woman-online-desktop.svg') no-repeat;
	background-size: 100% 100%;
	z-index: 1;
}

.faq__img-woman--inside-card {
	width: 100%;
	height: calc(100% - 160px);
	top: 80px;
	left: -75px;
}

.faq__img-woman--outside-card {
	display: none;
}

.faq__box {
	position: absolute;
	width: 20%;
	height: 38%;
	background: url('./images/illustration-box-desktop.svg') no-repeat;
	background-size: 100% 100%;
	top: 41%;
	left: -91px;
	z-index: 5;
}

/** ========================== content ============================== */
.faq__content {
	flex: 0 1 50%;
	padding: 80px 95px 40px 0;
}

.title {
	font-size: 3.3rem;
	color: var(--title-font-color);
}

.faq__title {
	margin-bottom: 15px;
}

.text__item {
	position: relative;
	padding: 16px 0;
	border-bottom: 1px solid var(--text-item-border-color);
	max-height: 50px;
	overflow: hidden;
	transition: max-height .5s ease;
}

.text__item--active {
	font-weight: 700;
	color: var(--text-item-font-color);
	max-height: 200px;
}

.text__question {
	display: inline-block;
	padding-right: 40px;
	color: var(--text-question-font-color);
}

.text__question:hover {
	cursor: pointer;
	color: var(--question-hover-color);
}

.text__icon {
	position: absolute;
	top: 10px;
	right: 0px;
	width: 40px;
	height: 40px;
	background: url('./images/icon-arrow-down.svg') no-repeat;
	background-size: 35%;
	background-position: center;
	transition: all .5s ease;
}

.text__icon:hover {
	cursor: pointer;
}

.text__item.text__item--active .text__icon {
	transform: rotate(180deg);
}

.text__answer {
	font-size: 1.3rem;
	font-weight: 400 !important;
	line-height: 2rem;
	color: var(--answer-font-color);
	padding-top: 15px;
	padding-right: 40px;
}

/** ========================== Media ============================== */
/* Laptops */
@media (max-width: 1024px) {
	html {
		font-size: 54%;
	}

	.wrapper {
		overflow: auto;
	}

	.faq {
		width: 660px;
		min-height: 470px;
	}

	.faq__img {
		min-width: 325px;
	}

	.faq__content {
		padding: 40px 40px 20px 0;
	}

	.faq__img-bkg {
		height: 190%;
		width: 190%;
		left: -108%;
		bottom: -33%;
	}
	
	.faq__img-woman--inside-card {
		width: 100%;
		height: calc(100% - 120px);
		top: 40px;
		left: -55px;
	}
	
	.faq__box {
		width: 20%;
		height: 38%;
		top: 37%;
		left: -63px;
	}
}

/* Tablets */
@media (max-width: 768px) {
	.wrapper {
		min-height: 800px;
		padding: 20px;
		align-items: center;
	}

	.faq {
		flex-grow: 0;
		flex-wrap: nowrap;
		flex-direction: column;
		height: 550px;
		margin-bottom: -100px;
	}

	.faq__img {
		flex: 0 0 auto;
		height: 30%;
		width: 100%;
	}

	.faq__img-bkg {
		width: 80%;
		height: 170%;
		top: -90%;
		left: 10%;
	}

	.faq__img-woman--inside-card {
		display: none;
	}

	.faq__img-woman--outside-card {
		display: block;
		height: 40%;
		width: 80%;
		top: -24%;
		left: 10%;
	}

	.faq__box {
		width: 27%;
		height: 20%;
		top: -9%;
		left: 10%;
	}

	.faq__content {
		flex: 1 1 auto;
		padding: 0 40px 20px 40px;
		overflow: auto;
	}

	.title {
		font-size: 3.9rem;
		text-align: center;
	}
}

/* Mobile */
@media (max-width: 480px) {
	html {
		font-size: 53%;
	}

	.wrapper {
		min-height: 600px;
	}

	.faq {
		min-height: auto;
		height: 450px;
		margin-bottom: -70px;
	}

	.faq__img {
		height: 20%;
	}

	.faq__img-bkg {
		width: 70%;
		height: 230%;
		top: -135%;
		left: 15%;
	}

	.faq__img-woman--outside-card {
		display: block;
		height: 35%;
		width: 70%;
		top: -21%;
		left: 14%;
	}

	.faq__box {
		width: 22%;
		height: 18%;
		top: -8%;
		left: 16%;
	}

	.faq__content {
		height: 80%;
		padding: 20px 25px 0 25px;
	}

	.title {
		font-size: 3.4rem;
	}

	.faq__title {
		margin-bottom: 5px;
	}

	.text__answer {
		font-size: 1.4rem;
	}

	.text__icon {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 370px) {
	html {
		font-size: 47%;
	}

	.faq__img {
		height: 15%;
		min-width: auto;
	}

	.faq__img-bkg {
		width: 100%;
		height: 100%;
		position: initial;
		background-size: 70% 210%;
		background-position: bottom;
		margin: -10px auto;
	}

	.faq__img-woman--outside-card {
		width: 70%;
		height: 25%;
		top: -15%;
		left: 14%;
	}

	.faq__box {
		width: 25%;
		height: 14%;
		top: -6.5%;
		left: 14%;
	}

	.faq__content {
		height: 85%;
	}
}